<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id = "UserService" class="com.itheima.travel.service.impl.UserServiceImpl"/>
    <bean id = "AddressService" class="com.itheima.travel.service.impl.AddressServiceImpl"/>
    <bean id = "CategoryService" class="com.itheima.travel.service.impl.CategoryServiceImpl"/>
</beans>